.footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 4rem;

    &>*:not(:last-child){
        margin-bottom: 2rem;
    }
    &__heading{
        font-size: 3.2rem;
    }
    &__list{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
    &__item{
        padding: .5rem;
    }
    &__link{
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
        
    }
    &__icons{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    &__paragraph{
        font-size: 1.2rem;
        color: $Dark-Gray1;
    }
}