
$color-primary1: hsl(356, 100%, 66%);
$color-primary2: hsl(355, 100%, 74%);
$color-primary3: hsl(208, 49%, 24%);

$color-neu1:hsl(0, 0%, 100%);
$color-neu2:hsl(240, 2%, 79%);
$color-neu3:hsl(207, 13%, 34%);
$color-neu4:hsl(240, 10%, 16%);

$Dark-Gray1: hsl(0, 0%, 55%);
$Dark-Gray2: hsl(0, 0%, 41%);

$color-gradient1:hsl(13, 100%, 72%);
$color-gradient2:hsl(353, 100%, 62%);
$color-gradient3:hsl(237, 17%, 21%);
$color-gradient4:hsl(237, 23%, 32%);






$font-size-defualt:1.5rem;
// 400
$font-family1:'Alata';
$font-family2:'Josefin Sans';

$font-weight-defualt:400;




