.gallery{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem ;
    @include res{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 2rem;
        row-gap: 2rem;
    }
    &__img-container{
        position: relative;
        font-family: $font-family2;
        font-weight: 300;
        display: block;
       &:not(:last-child){
        margin-bottom: 2rem;
        @include res{
            margin-bottom: 0;
        }
       }
        
    }
    &__img{
        position: relative;
       
    }
    img{
        width: 100%;
        display: block;
        
    }
    &__img-name{
        position: absolute;
        color: white;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        font-size: 2.8rem;
        width: 15rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
        font-weight: 300;
        color: white;
        z-index: 10;
        
        
        
    }
    &__img-hover{
        
        position: absolute;
        color: white;
        bottom: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-transform: uppercase;
        font-size: 2.8rem;
        height: 100%;
        z-index: 300;
        font-weight: 300;
        color: white;
        opacity:1;
        background-image: linear-gradient(to right, rgba(black,.8),transparent);
        z-index: 7;
    }

}   
.d{
    display: none;
    @include res{
        display: block;
        margin-bottom: 2rem;
    }
}
.container-head{
    @include res{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}